@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    background-size: 100% 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
}

#rez h2 {
    font-size: 34px;
    text-align: center;
    color: rgba(67, 72, 73, 0.774);
    font-weight: 400;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main {
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all 0.2s;
}

#main:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: calc(fit-content +10%);
    height: calc(fit-content +10%);
}

#forv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    min-width: 400px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s;
    margin: auto;
}

input {
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(206, 206, 203, 0.276);
    transition: 0.2s linear;
}

input::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.576);
}

input:hover,
 :focus {
    border-bottom: 1px solid white;
    color: rgba(255, 255, 255, 0.831);
}

input:hover::placeholder {
    color: rgba(255, 255, 255, 0.831);
}

button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    transition: 0.5s linear;
    background: rgba(201, 199, 199, 0.153);
    color: aliceblue;
}

button:hover {
    cursor: pointer;
    background-color: rgba(206, 206, 203, 0.276);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button:active {
    border: none;
}